@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals */
body {
  background-color: #0B0F19;
  font-family: 'Segoe UI', 'Cairo', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Safe Area Support */
.safe-area-top {
  padding-top: env(safe-area-inset-top);
}
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

/* RTL specific fixes */
[dir="rtl"] .rotate-rtl-180 {
  transform: rotate(180deg);
}